body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

button {
  border-radius: 5%;
}

button:hover {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-row-gap: 1.4rem;
  grid-template-areas:
    "header header header header"
    "topBanner topBanner topBanner topBanner"
    "articles articles articles sideBar"
    "footer footer footer footer";
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
}

.searchBar {
  height: 30px;
  width: 190px;
  background: url("../../public/media/searchIcon.png") top left no-repeat;
  background-size: 30px 30px;
  background-position-x: right;
}

.suscribeBtn {
  background-color: yellow;
  font-weight: bold;
  align-self: center;
  margin-right: 3%;
  width: 110px;
  height: 35px;
}
.suscribeBtn:hover {
  opacity: 85%;
}

.ingresarBtn {
  background-color: transparent;
  font-weight: bold;
  align-self: center;
  margin-right: 6%;
  width: 110px;
  height: 35px;
  color: #0074c4;
  border-color: #0074c4;
}

.ingresarBtn:hover {
  background-color: #0074c4;
  color: white;
}

.logo {
  display: block;
  width: 353px;
  height: 50px;
  margin-left: 29%;
  margin-right: auto;
  grid-area: logo;
}

.topBanner {
  grid-area: topBanner;
  height: 8.5rem;
}

.topAdGrayBox {
  background-color: #f3f3f3;
  display: inline-block;
  width: 6%;
  height: 100%;
}

.topAdBox {
  background-color: #a0dbe9;
  display: inline-block;
  width: 88%;
  height: 100%;
}

.sideBar {
  grid-area: sideBar;
  background-color: #a0dbe9;
  width: 80%;
  height: 100%;
  margin-right: 26rem;
  margin-top: 1.6rem;
}

.articles {
  grid-area: articles;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1em;
  margin-left: 8.4%;
  width: 86%;
}

.article {
  display: inline-block;
}

.articleTitle {
  margin-left: 8.4%;
  text-decoration: underline;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.articleText {
  color: black;
  letter-spacing: 0.5px;
}

.articleDate {
  color: #5a5a5a;
}

.articleImg {
  width: 270px;
  height: 170px;
  object-fit: cover;
}

.footer {
  background-color: cornflowerblue;
  grid-area: footer;
}
